<!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Titre du sidebar </div>
      <div class="list-group list-group-flush">
          <img src="/static/img/Sans%20titre.png" class="list-group-item list-group-item-action bg-light">
          <a href="/dashboard" class="list-group-item list-group-item-action bg-light">Dashboard</a>
          <a href="vitesse" class="list-group-item list-group-item-action bg-light">Vitesse</a>
          <a href="distance" class="list-group-item list-group-item-action bg-light">Distance</a>
          <a href="panneau" class="list-group-item list-group-item-action bg-light">Panneau</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->