<!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Titre du sidebar </div>
      <div class="list-group list-group-flush">
          <img src="/flask/static/img/Sans%20titre.png" class="list-group-item list-group-item-action bg-light">
          <a href="/flask/dashboard" class="list-group-item list-group-item-action bg-light">Dashboard</a>
          <a href="vitesse" class="list-group-item list-group-item-action bg-light">Vitesse</a>
          <a href="distance" class="list-group-item list-group-item-action bg-light">Distance</a>
          <a href="panneau" class="list-group-item list-group-item-action bg-light">Panneau</a>
          <a href="demarrage" class="list-group-item list-group-item-action bg-light">Démarrage</a>
          <a href="arret" class="list-group-item list-group-item-action bg-light">Arrêt</a>
          <a href="succes" class="list-group-item list-group-item-action bg-light">Succès du scan</a>
          <a href="erreur" class="list-group-item list-group-item-action bg-light">Erreur du scan</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->